@import "tailwindcss";
@import "@heroui/styles";
/* @import "@heroui/styles"; */

@custom-variant dark (&:where(.dark, .dark *)); /* ← এই line টা add করো */


@keyframes float {
    0%   { transform: translateY(0px); }
    50%  { transform: translateY(-15px); }
    100% { transform: translateY(0px); }
}

.animate-float {
    animation: float 3s ease-in-out infinite;
}